<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Push Game</h1>
                <form action="/addGame" method="post">
                    <div id="error"></div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" required="required">
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <input type="text" class="form-control" name="publisher" required="required">
                    </div>
                    <div class="form-group">
                        <label>Release date</label>
                        <input type="date" class="form-control" name="release_date" required="required">
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <input type="text" class="form-control" name="genre" required="required">
                    </div>
                    <div class="form-group">
                        <label>Short description</label>
                        <input type="text" class="form-control" name="short_description" required="required">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" step="0.01" class="form-control" name="price" required="required">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Push game</button>
                </form>
            </div>
        </div>
    </body>
    <script>
        const validatePrice = number =>{
            const regex = new RegExp("^([1-9]{1})([0-9])*\.([0-9]{1,2})$");
            if (!regex.test(number)){
                return false;
            }
            return true
        }

        const addGame=()=>{
            const title = document.getElementById('title').value
            const publisher = document.getElementById('publisher').value
            const release_date = document.getElementById('release_date').value
            const genre = document.getElementById('genre').value
            const short_description = document.getElementById('short_description').value
            const price = document.getElementById('price').value

            if(validatePrice(price)){
                const body = {
                    title: title,
                    publisher: publisher,
                    release_date: release_date, 
                    genre: genre,
                    short_description: short_description,
                    price: price,
                }
                axios.post(`addGame`, body).then(()=>{
                    window.location.replace('/listOfGames')
                })
            }else{
                let error =  document.getElementById('error')
                error.classList.add("alert")
                error.classList.add("alert-danger")
                error.innerHTML = "Wrong price format"
            }
        }
    </script>
</html>