<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <div>
                    <h2>Import games from file</h2>
                    <input type="file" name="fileInput" id="fileInput" >
                    <button class="btn btn-warning btn-lg" onclick="importGames()">Update game</button>
                    <div id="fileOutput"></div>
                </div>
            </div>
        </div>
    </body>
    <script>
        window.addEventListener('load', function(event){
            let myFile = document.getElementById("fileInput");
            let fileOutput = document.getElementById("fileOutput");
            myFile.addEventListener('change',function(){

                let fileReader=new FileReader();
            
                fileReader.onload=function(){
            
                fileOutput.innerHTML=fileReader.result;
            
                }
            
                fileReader.readAsText(this.files[0]);
            
            })
        })
        const importGames =() =>{
            const games = document.getElementById("fileOutput").innerHTML;
            console.log(games)
            axios.post("/importGamesFromJsonFile", JSON.parse(games)).then((res)=>{
                return res.data
            }).then(data=>{
                window.location.replace('/manageGames')
            }).catch(err=>{
                console.log("error:",err)
            })
        }
        /*$(document).ready(function() {
            let myFile = document.getElementById("fileInput");
            console.log(myFile)
            let fileOutput = document.getElementById("fileOutput");
            myFile.addEventListener('change',function(){

                let fileReader=new FileReader();
            
                fileReader.onload=function(){
            
                fileOutput.textContent=fileReader.result;
            
                }
            
                fileReader.readAsText(this.files[0]);
            
            })
        })*/
        /*const importGames = (event) =>{
            //const fileInput = document.getElementById('fileInput').value
            //console.log(fileInput)
            const fileReader = new FileReader();
            fileReader.onload = () => {
                //document.getElementById('fileInput').value = GetFile.result;
                if (fileReader.readyState === 2) {
                    event.target.value = fileReader.result;
                }
            };
            fileReader.readAsText(event.target.files[0]);
            //console.log(document.getElementById('fileInput').value)
            console.log(event.target.value)
        }*/
        /*const showGames = () =>{
            console.log("???")
        }*/
    </script>
</html>