<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>  <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Games</h1>
                <ul>
                    <%gamesList.forEach( game => {%>
                        <li>
                            <div><%= game.title%></div>
                            <a href="/updateGame/<%= game._id%>" class="btn btn-default">
                                <span class="fa"></span>
                                update game
                            </a>
                            <button class="btn btn-default" onclick="removeGame('<%= game._id%>')">
                                <span class="fa"></span>
                                delete game
                            </button>
                        </li>
                    <%})%>
                </ul>

            </div>
        </div>
    </body>
    <script>
        /*const updateGame = (gameId) =>{
            axios.put(`/updateGame/${gameId}`, )
        }*/
        //gameId = 
        const removeGame = (gameId) =>{
            axios.delete(`/removeGame?game_id=${gameId}`).then((res)=>{
                open(location, '_self')//.close()
            })
        }   
    </script>
</html>