<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>manage games</h1>
                <a href="/addGame" class="btn btn-default"><span class="fa fa-user"></span>addGame</a>
                <a href="/listOfGames" class="btn btn-default"><span class="fa fa-user"></span>List of games</a>
                <div>
                    <a href="/importGamesFromJsonFile" class="btn btn-default"><span class="fa fa-user"></span>import games from json file</a>
                    <a href="/exportGamesToJsonFile" class="btn btn-default"><span class="fa fa-user"></span>export games from json file</a>
                </div>
            </div>
        </div>
    </body>
</html>