<!doctype html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Change password form</h1>
                <%if(error != undefined){%>
                    <div class="alert alert-danger"><%= error%></div>
                <%}%>
                <div>
                    <div class="form-group">
                        <label>Your current password</label>
                        <input type="password" class="form-control" name="password" required="required" id="password">
                    </div>
                    <div class="form-group">
                        <label>Your new password</label>
                        <input type="password" class="form-control" name="password" required="required" id="new_password">
                    </div>
                    <div class="form-group">
                        <label>Repeat youe new password</label>
                        <input type="password" class="form-control" name="password_2" required="required" id="new_password_2">
                    </div>
                    <div>
                        <button class="btn btn-warning btn-lg"  onclick="updateUser('<%= user._id%>')">Save Changes</button>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </body>
    <script>
        
        const updateUser = (gameId) =>{
            const password = document.getElementById('password').value
            const new_password = document.getElementById('new_password').value
            const new_password_2 = document.getElementById('new_password_2').value
            const body = {
                password: password,
                new_password: new_password,
                new_password_2: new_password_2, 
            }
            axios.put(`/change_password`, body).then((res)=>{
                console.log(res)
                return res.data
            }).then((data)=>{
                window.location.replace('/profile')
            }).catch(error => {
                console.log(error)
                window.location.replace(`/change_password?error=${error.response.data.error}`)
            })
        }
        console.log('<%= error%>')
    </script>
</html>