<!doctype html>
<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
        </script>
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Games</h1>
                <ul>
                    <%yourGames.forEach( game => {%>
                        <li>
                            <span><%= game.title%></span>
                            <a class="btn btn-default" href="/gameInfo/<%= game._id%>">
                                Game info
                            </a>
                            <button class="btn btn-default" onclick="removeFromFavourite('<%= game._id%>')">
                                Remove from favourites
                            </button>
                        </li>
                    <%})%>
                </ul>

            </div>
        </div>
    </body>
    <script>
        const removeFromFavourite = (gameId) =>{
            axios.delete(`/removeFromFavourite?game_id=${gameId}`).then(()=>{
                open(location, '_self')
            })
        }
        

    </script>
</html>