<!doctype html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Your profile</h1>
                <div>
                    <div class="form-group">
                        <label>Login</label>
                        <div><%= user.login %></div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <div><%= user.email %></div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <div><%= user.address %></div>
                    </div>
                    <div class="form-group">
                        <label>Phone number</label>
                        <div><%= user.phone %></div>
                    </div>
                    <div>
                        <a href="/favourite" class="btn btn-warning btn-lg">Favourite games</a>
                    </div>
                    <hr>
                    <div>
                        <a href="/edit_profile" class="btn btn-default">Edit your profile</a>
                        <a href="/historia_zamowien" class="btn btn-default">Moje zamowiena</a> <!--jeszcze nie została zrobiona-->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>